.navbar {

  width: 100%;
  background: var(--darkgray);
  font-family: var(--basefont);
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  display: table;

    &__menu {
      margin: 0;
    }

    &__item {
      list-style: none;
      display: inline-block;
      margin-left: 2%;
      margin-right: 2%;
      padding: 2.5em;
      color: var(--white);
    }

    &__link {
        padding-bottom: calc(1.25em - 4px);
        color: var(--white);
        font-size: 2em;
        text-decoration: none;


        &:hover {
          color: var(--accent-color);
          border-bottom: 4px solid currentColor;
          /*inset shadow*/
        }
    }

}
